
.contenedor-menu{
    width: 100%;
    background: #192c5b;
    display: flex;
    justify-content: space-around;
    margin: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


#menu-bar{
    display: none;    
}

header label{
    float: right;   /*icono menu*/
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
    margin-top: 15px;
    color: #fff;
}

.menu{
    position: absolute;
    top: 70px;
    left: 0;                 /*menu desplegable responsivo*/
    width: 100%;
    height: 100vh;
    background: hsla(223, 57%, 23%, 0.877);

    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: rgb(255, 255, 255);
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}


.menu a:hover{
    background: rgba(255,255,255,0.3); 

}


#menu-bar:checked ~ .menu{ 
    transform: translateX(0%);
}

@media(min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background: none;
    }

    .menu a{
        border: none;
        background: none;
        margin-top: 10px;
    }  
    
    .menu .especiales{
        background: hsla(180, 100%, 50%, 0.61);
        border-radius: 50px;
    }

    .menu a:hover{
        background: none;
        
        color: yellow;
    }

    header label{
        display: none;
    }
}
